<a href="https://colab.research.google.com/github/garfield-gray/manim/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

it sounds lame yeah but I must practice python

In [1]:
import numpy as np
import math

# 1-Lists

In [ ]:
#repetitive stuff

#comprehention 
a = [np.sqrt(i) for i in range(8)]
print(a)
b = a[:] #it's the abuse of alicing =)
c = [j**2 for j in a]
print(c)
print(np.ceil(c))
print(np.round(c))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907]
[0.0, 1.0, 2.0000000000000004, 2.9999999999999996, 4.0, 5.000000000000001, 5.999999999999999, 7.000000000000001]
[0. 1. 3. 3. 4. 6. 6. 8.]
[0. 1. 2. 3. 4. 5. 6. 7.]

In [ ]:
#slicing
l = [i for i in range(17)]
print(l)
lm = l[0:15:2]
print(lm)
lmm = l[15:0:-2]
print(lmm)


#I beleive now you must've got it right know(i'm not sure about grammer here!)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 2, 4, 6, 8, 10, 12, 14]
[15, 13, 11, 9, 7, 5, 3, 1]

# 2-Tuples

In [ ]:
t = (1, 'alor', 6)
print(t)

(1, 'alor', 6)

In [ ]:
tu = 1,4,'hi'
print(tu)
# note: parentheses are optional in python, now ypu get sth like "a, b = f(blah blah)" =))

(1, 4, 'hi')

In [ ]:
# slicing, indexing, if   in statement are mainly like what we had in the list

In [ ]:
i1, i2, i3 = ('q', 'u', 'p')
print(i1)

q

In [ ]:
#Wow
i1, *i2, i3 = ('q', 'u','k','r', 'p')
print(i2)
i1, i2, *i3 = ('q', 'u','k','r', 'p')
print(i3)

['u', 'k', 'r']
['k', 'r', 'p']

In [ ]:
import sys
print(sys.getsizeof(i3))
print(sys.getsizeof(i1))
#I beleive know you get what's sys for=)

120
50

# 3-Dictionaries

In [ ]:
# unordered and mutable 
# cause it's unordered, there's no indexing 
d = {'key':'value', 'h':'j', 'h':'g'}
print(d)
print(d['h'])
print(d.items())
print(type(d.items()))
print(d.keys())
print(type(d.keys()))

{'key': 'value', 'h': 'g'}
g
dict_items([('key', 'value'), ('h', 'g')])
<class 'dict_items'>
dict_keys(['key', 'h'])
<class 'dict_keys'>

In [ ]:
# keys must be hashable variables(for instance, tuples could but lists couldn't)
di = {(1,2): 'w', 3:6, 'rt':'er', 'tr':[1,2,3]}
print (di)

{(1, 2): 'w', 3: 6, 'rt': 'er', 'tr': [1, 2, 3]}

# 4-Sets

In [ ]:
#unordered, mutable, no duplicate
# just like sets in mathematics
s = {1, 2, 'r'}
print(s)

{'r', 1, 2}

In [ ]:
se = set('alor on dance')
print(se)

{'n', 'e', 'a', ' ', 'c', 'r', 'o', 'd', 'l'}

In [ ]:
print(s.union(se))
print(s.intersection(se))

{1, 2, 'n', 'e', 'a', ' ', 'c', 'r', 'o', 'd', 'l'}
{'r'}

In [ ]:
print(s.issubset({1,2}))
print(s.issuperset({1,2}))
#frozenset -> immutable

False
True

In [ ]:
a = {1,2,3,'r'}
b = {2,4,1,'u'}
c = a|b
print(c)
# it's new=)

{'r', 1, 2, 3, 4, 'u'}

# 5-Strings

In [ ]:
# ordered and immutable

s = """elon musk"""
print(s[1:4])

lon

In [ ]:
if 'm' in s:
  print('yep')
else:
  print('nope')

yep

In [ ]:
st = "let all the hurts inside you die "
stsrtip = st.strip()
print(stsrtip)
ststa = st.startswith('l')
print(ststa)
print(st.find('e'))
print(st.count('e'))
print(st.replace('e', 'x'))

stlist = st.split()
print(stlist)

stlistc = st.split(sep = ',') #didn't get this one
print(stlistc)

print(''.join(stlist))

let all the hurts inside you die
True
1
4
lxt all thx hurts insidx you dix
['let', 'all', 'the', 'hurts', 'inside', 'you', 'die']
['let all the hurts inside you die ']
letallthehurtsinsideyoudie

In [ ]:
n = 2
print(f"I want {n}")

I want 2

# 6-Collections

In [ ]:
from collections import Counter,namedtuple,deque

In [ ]:
print(Counter(st))

Counter({' ': 7, 'e': 4, 'l': 3, 't': 3, 'i': 3, 'h': 2, 'u': 2, 's': 2, 'd': 2, 'a': 1, 'r': 1, 'n': 1, 'y': 1, 'o': 1})

In [ ]:
d = deque(stlist)
print(d)
d.rotate(1)
print(d)
# deque also has append, pop etc

#collections also has other useful things that you can go over

deque(['let', 'all', 'the', 'hurts', 'inside', 'you', 'die'])
deque(['die', 'let', 'all', 'the', 'hurts', 'inside', 'you'])

# 7-Itertools

In [ ]:
from itertools import product,permutations,combinations,groupby

In [ ]:
a = list(range(-4,5))
for i in a:
  print(i)

-4
-3
-2
-1
0
1
2
3
4

In [ ]:
b = a.copy()
prod = product(a,b)
for i in prod:
  print(i)

(-4, -4)
(-4, -3)
(-4, -2)
(-4, -1)
(-4, 0)
(-4, 1)
(-4, 2)
(-4, 3)
(-4, 4)
(-3, -4)
(-3, -3)
(-3, -2)
(-3, -1)
(-3, 0)
(-3, 1)
(-3, 2)
(-3, 3)
(-3, 4)
(-2, -4)
(-2, -3)
(-2, -2)
(-2, -1)
(-2, 0)
(-2, 1)
(-2, 2)
(-2, 3)
(-2, 4)
(-1, -4)
(-1, -3)
(-1, -2)
(-1, -1)
(-1, 0)
(-1, 1)
(-1, 2)
(-1, 3)
(-1, 4)
(0, -4)
(0, -3)
(0, -2)
(0, -1)
(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(1, -4)
(1, -3)
(1, -2)
(1, -1)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(2, -4)
(2, -3)
(2, -2)
(2, -1)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(3, -4)
(3, -3)
(3, -2)
(3, -1)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(4, -4)
(4, -3)
(4, -2)
(4, -1)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)

In [ ]:
a = list(range(-2,3))
b = a.copy()
p = product(a,b,repeat=2)
for i in p:
  print(i)

(-2, -2, -2, -2)
(-2, -2, -2, -1)
(-2, -2, -2, 0)
(-2, -2, -2, 1)
(-2, -2, -2, 2)
(-2, -2, -1, -2)
(-2, -2, -1, -1)
(-2, -2, -1, 0)
(-2, -2, -1, 1)
(-2, -2, -1, 2)
(-2, -2, 0, -2)
(-2, -2, 0, -1)
(-2, -2, 0, 0)
(-2, -2, 0, 1)
(-2, -2, 0, 2)
(-2, -2, 1, -2)
(-2, -2, 1, -1)
(-2, -2, 1, 0)
(-2, -2, 1, 1)
(-2, -2, 1, 2)
(-2, -2, 2, -2)
(-2, -2, 2, -1)
(-2, -2, 2, 0)
(-2, -2, 2, 1)
(-2, -2, 2, 2)
(-2, -1, -2, -2)
(-2, -1, -2, -1)
(-2, -1, -2, 0)
(-2, -1, -2, 1)
(-2, -1, -2, 2)
(-2, -1, -1, -2)
(-2, -1, -1, -1)
(-2, -1, -1, 0)
(-2, -1, -1, 1)
(-2, -1, -1, 2)
(-2, -1, 0, -2)
(-2, -1, 0, -1)
(-2, -1, 0, 0)
(-2, -1, 0, 1)
(-2, -1, 0, 2)
(-2, -1, 1, -2)
(-2, -1, 1, -1)
(-2, -1, 1, 0)
(-2, -1, 1, 1)
(-2, -1, 1, 2)
(-2, -1, 2, -2)
(-2, -1, 2, -1)
(-2, -1, 2, 0)
(-2, -1, 2, 1)
(-2, -1, 2, 2)
(-2, 0, -2, -2)
(-2, 0, -2, -1)
(-2, 0, -2, 0)
(-2, 0, -2, 1)
(-2, 0, -2, 2)
(-2, 0, -1, -2)
(-2, 0, -1, -1)
(-2, 0, -1, 0)
(-2, 0, -1, 1)
(-2, 0, -1, 2)
(-2, 0, 0, -2)
(-2, 0, 0, -1)
(-2, 0, 0, 0)
(-2, 0, 0, 1)
(-2, 0, 0, 2)
(-2, 0, 1, -2)
(-2, 0, 1, -1)
(-2, 0, 1, 0)
(-2, 0, 1, 1)
(-2, 0, 1, 2)
(-2, 0, 2, -2)
(-2, 0, 2, -1)
(-2, 0, 2, 0)
(-2, 0, 2, 1)
(-2, 0, 2, 2)
(-2, 1, -2, -2)
(-2, 1, -2, -1)
(-2, 1, -2, 0)
(-2, 1, -2, 1)
(-2, 1, -2, 2)
(-2, 1, -1, -2)
(-2, 1, -1, -1)
(-2, 1, -1, 0)
(-2, 1, -1, 1)
(-2, 1, -1, 2)
(-2, 1, 0, -2)
(-2, 1, 0, -1)
(-2, 1, 0, 0)
(-2, 1, 0, 1)
(-2, 1, 0, 2)
(-2, 1, 1, -2)
(-2, 1, 1, -1)
(-2, 1, 1, 0)
(-2, 1, 1, 1)
(-2, 1, 1, 2)
(-2, 1, 2, -2)
(-2, 1, 2, -1)
(-2, 1, 2, 0)
(-2, 1, 2, 1)
(-2, 1, 2, 2)
(-2, 2, -2, -2)
(-2, 2, -2, -1)
(-2, 2, -2, 0)
(-2, 2, -2, 1)
(-2, 2, -2, 2)
(-2, 2, -1, -2)
(-2, 2, -1, -1)
(-2, 2, -1, 0)
(-2, 2, -1, 1)
(-2, 2, -1, 2)
(-2, 2, 0, -2)
(-2, 2, 0, -1)
(-2, 2, 0, 0)
(-2, 2, 0, 1)
(-2, 2, 0, 2)
(-2, 2, 1, -2)
(-2, 2, 1, -1)
(-2, 2, 1, 0)
(-2, 2, 1, 1)
(-2, 2, 1, 2)
(-2, 2, 2, -2)
(-2, 2, 2, -1)
(-2, 2, 2, 0)
(-2, 2, 2, 1)
(-2, 2, 2, 2)
(-1, -2, -2, -2)
(-1, -2, -2, -1)
(-1, -2, -2, 0)
(-1, -2, -2, 1)
(-1, -2, -2, 2)
(-1, -2, -1, -2)
(-1, -2, -1, -1)
(-1, -2, -1, 0)
(-1, -2, -1, 1)
(-1, -2, -1, 2)
(-1, -2, 0, -2)
(-1, -2, 0, -1)
(-1, -2, 0, 0)
(-1, -2, 0, 1)
(-1, -2, 0, 2)
(-1, -2, 1, -2)
(-1, -2, 1, -1)
(-1, -2, 1, 0)
(-1, -2, 1, 1)
(-1, -2, 1, 2)
(-1, -2, 2, -2)
(-1, -2, 2, -1)
(-1, -2, 2, 0)
(-1, -2, 2, 1)
(-1, -2, 2, 2)
(-1, -1, -2, -2)
(-1, -1, -2, -1)
(-1, -1, -2, 0)
(-1, -1, -2, 1)
(-1, -1, -2, 2)
(-1, -1, -1, -2)
(-1, -1, -1, -1)
(-1, -1, -1, 0)
(-1, -1, -1, 1)
(-1, -1, -1, 2)
(-1, -1, 0, -2)
(-1, -1, 0, -1)
(-1, -1, 0, 0)
(-1, -1, 0, 1)
(-1, -1, 0, 2)
(-1, -1, 1, -2)
(-1, -1, 1, -1)
(-1, -1, 1, 0)
(-1, -1, 1, 1)
(-1, -1, 1, 2)
(-1, -1, 2, -2)
(-1, -1, 2, -1)
(-1, -1, 2, 0)
(-1, -1, 2, 1)
(-1, -1, 2, 2)
(-1, 0, -2, -2)
(-1, 0, -2, -1)
(-1, 0, -2, 0)
(-1, 0, -2, 1)
(-1, 0, -2, 2)
(-1, 0, -1, -2)
(-1, 0, -1, -1)
(-1, 0, -1, 0)
(-1, 0, -1, 1)
(-1, 0, -1, 2)
(-1, 0, 0, -2)
(-1, 0, 0, -1)
(-1, 0, 0, 0)
(-1, 0, 0, 1)
(-1, 0, 0, 2)
(-1, 0, 1, -2)
(-1, 0, 1, -1)
(-1, 0, 1, 0)
(-1, 0, 1, 1)
(-1, 0, 1, 2)
(-1, 0, 2, -2)
(-1, 0, 2, -1)
(-1, 0, 2, 0)
(-1, 0, 2, 1)
(-1, 0, 2, 2)
(-1, 1, -2, -2)
(-1, 1, -2, -1)
(-1, 1, -2, 0)
(-1, 1, -2, 1)
(-1, 1, -2, 2)
(-1, 1, -1, -2)
(-1, 1, -1, -1)
(-1, 1, -1, 0)
(-1, 1, -1, 1)
(-1, 1, -1, 2)
(-1, 1, 0, -2)
(-1, 1, 0, -1)
(-1, 1, 0, 0)
(-1, 1, 0, 1)
(-1, 1, 0, 2)
(-1, 1, 1, -2)
(-1, 1, 1, -1)
(-1, 1, 1, 0)
(-1, 1, 1, 1)
(-1, 1, 1, 2)
(-1, 1, 2, -2)
(-1, 1, 2, -1)
(-1, 1, 2, 0)
(-1, 1, 2, 1)
(-1, 1, 2, 2)
(-1, 2, -2, -2)
(-1, 2, -2, -1)
(-1, 2, -2, 0)
(-1, 2, -2, 1)
(-1, 2, -2, 2)
(-1, 2, -1, -2)
(-1, 2, -1, -1)
(-1, 2, -1, 0)
(-1, 2, -1, 1)
(-1, 2, -1, 2)
(-1, 2, 0, -2)
(-1, 2, 0, -1)
(-1, 2, 0, 0)
(-1, 2, 0, 1)
(-1, 2, 0, 2)
(-1, 2, 1, -2)
(-1, 2, 1, -1)
(-1, 2, 1, 0)
(-1, 2, 1, 1)
(-1, 2, 1, 2)
(-1, 2, 2, -2)
(-1, 2, 2, -1)
(-1, 2, 2, 0)
(-1, 2, 2, 1)
(-1, 2, 2, 2)
(0, -2, -2, -2)
(0, -2, -2, -1)
(0, -2, -2, 0)
(0, -2, -2, 1)
(0, -2, -2, 2)
(0, -2, -1, -2)
(0, -2, -1, -1)
(0, -2, -1, 0)
(0, -2, -1, 1)
(0, -2, -1, 2)
(0, -2, 0, -2)
(0, -2, 0, -1)
(0, -2, 0, 0)
(0, -2, 0, 1)
(0, -2, 0, 2)
(0, -2, 1, -2)
(0, -2, 1, -1)
(0, -2, 1, 0)
(0, -2, 1, 1)
(0, -2, 1, 2)
(0, -2, 2, -2)
(0, -2, 2, -1)
(0, -2, 2, 0)
(0, -2, 2, 1)
(0, -2, 2, 2)
(0, -1, -2, -2)
(0, -1, -2, -1)
(0, -1, -2, 0)
(0, -1, -2, 1)
(0, -1, -2, 2)
(0, -1, -1, -2)
(0, -1, -1, -1)
(0, -1, -1, 0)
(0, -1, -1, 1)
(0, -1, -1, 2)
(0, -1, 0, -2)
(0, -1, 0, -1)
(0, -1, 0, 0)
(0, -1, 0, 1)
(0, -1, 0, 2)
(0, -1, 1, -2)
(0, -1, 1, -1)
(0, -1, 1, 0)
(0, -1, 1, 1)
(0, -1, 1, 2)
(0, -1, 2, -2)
(0, -1, 2, -1)
(0, -1, 2, 0)
(0, -1, 2, 1)
(0, -1, 2, 2)
(0, 0, -2, -2)
(0, 0, -2, -1)
(0, 0, -2, 0)
(0, 0, -2, 1)
(0, 0, -2, 2)
(0, 0, -1, -2)
(0, 0, -1, -1)
(0, 0, -1, 0)
(0, 0, -1, 1)
(0, 0, -1, 2)
(0, 0, 0, -2)
(0, 0, 0, -1)
(0, 0, 0, 0)
(0, 0, 0, 1)
(0, 0, 0, 2)
(0, 0, 1, -2)
(0, 0, 1, -1)
(0, 0, 1, 0)
(0, 0, 1, 1)
(0, 0, 1, 2)
(0, 0, 2, -2)
(0, 0, 2, -1)
(0, 0, 2, 0)
(0, 0, 2, 1)
(0, 0, 2, 2)
(0, 1, -2, -2)
(0, 1, -2, -1)
(0, 1, -2, 0)
(0, 1, -2, 1)
(0, 1, -2, 2)
(0, 1, -1, -2)
(0, 1, -1, -1)
(0, 1, -1, 0)
(0, 1, -1, 1)
(0, 1, -1, 2)
(0, 1, 0, -2)
(0, 1, 0, -1)
(0, 1, 0, 0)
(0, 1, 0, 1)
(0, 1, 0, 2)
(0, 1, 1, -2)
(0, 1, 1, -1)
(0, 1, 1, 0)
(0, 1, 1, 1)
(0, 1, 1, 2)
(0, 1, 2, -2)
(0, 1, 2, -1)
(0, 1, 2, 0)
(0, 1, 2, 1)
(0, 1, 2, 2)
(0, 2, -2, -2)
(0, 2, -2, -1)
(0, 2, -2, 0)
(0, 2, -2, 1)
(0, 2, -2, 2)
(0, 2, -1, -2)
(0, 2, -1, -1)
(0, 2, -1, 0)
(0, 2, -1, 1)
(0, 2, -1, 2)
(0, 2, 0, -2)
(0, 2, 0, -1)
(0, 2, 0, 0)
(0, 2, 0, 1)
(0, 2, 0, 2)
(0, 2, 1, -2)
(0, 2, 1, -1)
(0, 2, 1, 0)
(0, 2, 1, 1)
(0, 2, 1, 2)
(0, 2, 2, -2)
(0, 2, 2, -1)
(0, 2, 2, 0)
(0, 2, 2, 1)
(0, 2, 2, 2)
(1, -2, -2, -2)
(1, -2, -2, -1)
(1, -2, -2, 0)
(1, -2, -2, 1)
(1, -2, -2, 2)
(1, -2, -1, -2)
(1, -2, -1, -1)
(1, -2, -1, 0)
(1, -2, -1, 1)
(1, -2, -1, 2)
(1, -2, 0, -2)
(1, -2, 0, -1)
(1, -2, 0, 0)
(1, -2, 0, 1)
(1, -2, 0, 2)
(1, -2, 1, -2)
(1, -2, 1, -1)
(1, -2, 1, 0)
(1, -2, 1, 1)
(1, -2, 1, 2)
(1, -2, 2, -2)
(1, -2, 2, -1)
(1, -2, 2, 0)
(1, -2, 2, 1)
(1, -2, 2, 2)
(1, -1, -2, -2)
(1, -1, -2, -1)
(1, -1, -2, 0)
(1, -1, -2, 1)
(1, -1, -2, 2)
(1, -1, -1, -2)
(1, -1, -1, -1)
(1, -1, -1, 0)
(1, -1, -1, 1)
(1, -1, -1, 2)
(1, -1, 0, -2)
(1, -1, 0, -1)
(1, -1, 0, 0)
(1, -1, 0, 1)
(1, -1, 0, 2)
(1, -1, 1, -2)
(1, -1, 1, -1)
(1, -1, 1, 0)
(1, -1, 1, 1)
(1, -1, 1, 2)
(1, -1, 2, -2)
(1, -1, 2, -1)
(1, -1, 2, 0)
(1, -1, 2, 1)
(1, -1, 2, 2)
(1, 0, -2, -2)
(1, 0, -2, -1)
(1, 0, -2, 0)
(1, 0, -2, 1)
(1, 0, -2, 2)
(1, 0, -1, -2)
(1, 0, -1, -1)
(1, 0, -1, 0)
(1, 0, -1, 1)
(1, 0, -1, 2)
(1, 0, 0, -2)
(1, 0, 0, -1)
(1, 0, 0, 0)
(1, 0, 0, 1)
(1, 0, 0, 2)
(1, 0, 1, -2)
(1, 0, 1, -1)
(1, 0, 1, 0)
(1, 0, 1, 1)
(1, 0, 1, 2)
(1, 0, 2, -2)
(1, 0, 2, -1)
(1, 0, 2, 0)
(1, 0, 2, 1)
(1, 0, 2, 2)
(1, 1, -2, -2)
(1, 1, -2, -1)
(1, 1, -2, 0)
(1, 1, -2, 1)
(1, 1, -2, 2)
(1, 1, -1, -2)
(1, 1, -1, -1)
(1, 1, -1, 0)
(1, 1, -1, 1)
(1, 1, -1, 2)
(1, 1, 0, -2)
(1, 1, 0, -1)
(1, 1, 0, 0)
(1, 1, 0, 1)
(1, 1, 0, 2)
(1, 1, 1, -2)
(1, 1, 1, -1)
(1, 1, 1, 0)
(1, 1, 1, 1)
(1, 1, 1, 2)
(1, 1, 2, -2)
(1, 1, 2, -1)
(1, 1, 2, 0)
(1, 1, 2, 1)
(1, 1, 2, 2)
(1, 2, -2, -2)
(1, 2, -2, -1)
(1, 2, -2, 0)
(1, 2, -2, 1)
(1, 2, -2, 2)
(1, 2, -1, -2)
(1, 2, -1, -1)
(1, 2, -1, 0)
(1, 2, -1, 1)
(1, 2, -1, 2)
(1, 2, 0, -2)
(1, 2, 0, -1)
(1, 2, 0, 0)
(1, 2, 0, 1)
(1, 2, 0, 2)
(1, 2, 1, -2)
(1, 2, 1, -1)
(1, 2, 1, 0)
(1, 2, 1, 1)
(1, 2, 1, 2)
(1, 2, 2, -2)
(1, 2, 2, -1)
(1, 2, 2, 0)
(1, 2, 2, 1)
(1, 2, 2, 2)
(2, -2, -2, -2)
(2, -2, -2, -1)
(2, -2, -2, 0)
(2, -2, -2, 1)
(2, -2, -2, 2)
(2, -2, -1, -2)
(2, -2, -1, -1)
(2, -2, -1, 0)
(2, -2, -1, 1)
(2, -2, -1, 2)
(2, -2, 0, -2)
(2, -2, 0, -1)
(2, -2, 0, 0)
(2, -2, 0, 1)
(2, -2, 0, 2)
(2, -2, 1, -2)
(2, -2, 1, -1)
(2, -2, 1, 0)
(2, -2, 1, 1)
(2, -2, 1, 2)
(2, -2, 2, -2)
(2, -2, 2, -1)
(2, -2, 2, 0)
(2, -2, 2, 1)
(2, -2, 2, 2)
(2, -1, -2, -2)
(2, -1, -2, -1)
(2, -1, -2, 0)
(2, -1, -2, 1)
(2, -1, -2, 2)
(2, -1, -1, -2)
(2, -1, -1, -1)
(2, -1, -1, 0)
(2, -1, -1, 1)
(2, -1, -1, 2)
(2, -1, 0, -2)
(2, -1, 0, -1)
(2, -1, 0, 0)
(2, -1, 0, 1)
(2, -1, 0, 2)
(2, -1, 1, -2)
(2, -1, 1, -1)
(2, -1, 1, 0)
(2, -1, 1, 1)
(2, -1, 1, 2)
(2, -1, 2, -2)
(2, -1, 2, -1)
(2, -1, 2, 0)
(2, -1, 2, 1)
(2, -1, 2, 2)
(2, 0, -2, -2)
(2, 0, -2, -1)
(2, 0, -2, 0)
(2, 0, -2, 1)
(2, 0, -2, 2)
(2, 0, -1, -2)
(2, 0, -1, -1)
(2, 0, -1, 0)
(2, 0, -1, 1)
(2, 0, -1, 2)
(2, 0, 0, -2)
(2, 0, 0, -1)
(2, 0, 0, 0)
(2, 0, 0, 1)
(2, 0, 0, 2)
(2, 0, 1, -2)
(2, 0, 1, -1)
(2, 0, 1, 0)
(2, 0, 1, 1)
(2, 0, 1, 2)
(2, 0, 2, -2)
(2, 0, 2, -1)
(2, 0, 2, 0)
(2, 0, 2, 1)
(2, 0, 2, 2)
(2, 1, -2, -2)
(2, 1, -2, -1)
(2, 1, -2, 0)
(2, 1, -2, 1)
(2, 1, -2, 2)
(2, 1, -1, -2)
(2, 1, -1, -1)
(2, 1, -1, 0)
(2, 1, -1, 1)
(2, 1, -1, 2)
(2, 1, 0, -2)
(2, 1, 0, -1)
(2, 1, 0, 0)
(2, 1, 0, 1)
(2, 1, 0, 2)
(2, 1, 1, -2)
(2, 1, 1, -1)
(2, 1, 1, 0)
(2, 1, 1, 1)
(2, 1, 1, 2)
(2, 1, 2, -2)
(2, 1, 2, -1)
(2, 1, 2, 0)
(2, 1, 2, 1)
(2, 1, 2, 2)
(2, 2, -2, -2)
(2, 2, -2, -1)
(2, 2, -2, 0)
(2, 2, -2, 1)
(2, 2, -2, 2)
(2, 2, -1, -2)
(2, 2, -1, -1)
(2, 2, -1, 0)
(2, 2, -1, 1)
(2, 2, -1, 2)
(2, 2, 0, -2)
(2, 2, 0, -1)
(2, 2, 0, 0)
(2, 2, 0, 1)
(2, 2, 0, 2)
(2, 2, 1, -2)
(2, 2, 1, -1)
(2, 2, 1, 0)
(2, 2, 1, 1)
(2, 2, 1, 2)
(2, 2, 2, -2)
(2, 2, 2, -1)
(2, 2, 2, 0)
(2, 2, 2, 1)
(2, 2, 2, 2)

In [ ]:
a = [1,2,4,5]
perm = permutations(a,3)
comb = combinations(a,3)
print(perm)
#print(len(perm))
for i in perm:
  print(i)
print('********************')
for i in comb:
  print(i)

<itertools.permutations object at 0x7fc07c6488f0>
(1, 2, 4)
(1, 2, 5)
(1, 4, 2)
(1, 4, 5)
(1, 5, 2)
(1, 5, 4)
(2, 1, 4)
(2, 1, 5)
(2, 4, 1)
(2, 4, 5)
(2, 5, 1)
(2, 5, 4)
(4, 1, 2)
(4, 1, 5)
(4, 2, 1)
(4, 2, 5)
(4, 5, 1)
(4, 5, 2)
(5, 1, 2)
(5, 1, 4)
(5, 2, 1)
(5, 2, 4)
(5, 4, 1)
(5, 4, 2)
********************
(1, 2, 4)
(1, 2, 5)
(1, 4, 5)
(2, 4, 5)

In [ ]:
from itertools import accumulate
ac = accumulate(a)
print(ac)
print(list(ac))

<itertools.accumulate object at 0x7fc07c6045f0>
[1, 3, 7, 12]

In [ ]:
# groupby
a = list(range(-4,10,2))
# note: pandas also has this useful method
g = groupby(a, key= lambda x: x>3)
print(g)

for i,j in g:
  print(i)
  for h in j:
    print(h)
# wow boy!!!

<itertools.groupby object at 0x7fc07c5d2650>
False
-4
-2
0
2
True
4
6
8

In [ ]:
# no way I must also work on pandas groupby
import pandas as pd
d = pd.read_csv('AP.csv')
print(d.head())

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [ ]:
gr = d.groupby('#Passengers')
gr.first()

               Month
#Passengers
104          1949-11
112          1949-01
114          1950-11
115          1950-01
118          1949-02
...              ...
535          1960-06
548          1959-07
559          1959-08
606          1960-08
622          1960-07

[118 rows x 1 columns]

In [ ]:

# infinites
from itertools import count,cycle,repeat

c = count(10)

for i in c:
  print(i)
  if i > 100:
    break

#cycle and repeat are easy

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

# 8-Lambda

In [ ]:
#lambda argument(s): expression

f = lambda a,b: (a+b, a/b, a*b)
f(2,3)

#booooy =)

(5, 0.6666666666666666, 6)

In [ ]:
a = [(1,2), (3,5), (3,8), (1,0),(4,2), (6,1)]
print(sorted(a))
print(sorted(a, key= lambda x: x[0]+x[1]))

[(1, 0), (1, 2), (3, 5), (3, 8), (4, 2), (6, 1)]
[(1, 0), (1, 2), (4, 2), (6, 1), (3, 5), (3, 8)]

In [ ]:
b = [1,2,3,5,3,5,6]

m = map(lambda x:x**2, b)

f = filter(lambda x: x>=3,b)

print(list(m))
print(list(f))
# it could also be done by list comprehension like:
print([x**2 for x in b])
print([x for x in b if x>=3])

[1, 4, 9, 25, 9, 25, 36]
[3, 5, 3, 5, 6]
[1, 4, 9, 25, 9, 25, 36]
[3, 5, 3, 5, 6]

# 9-Errors and Exceptions

In [2]:
# sure you know what's error 
# but how to raise an exception:
x = -4
if x<0:
  raise Exception('blah blah')

Exception: ignored

In [3]:
# or 
x = -3
assert(x>0), 'blah blah'

AssertionError: ignored

In [7]:
a = 2
b = 's'
try:
  c = a+b
except TypeError:
  pass
  # print('blaaah')

print('sth')

sth

# 10-Logging