<a href="https://colab.research.google.com/github/garfield-gray/manim/blob/main/Practice_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

it sounds lame yeah but I must practice python

In [1]:
import numpy as np
import math

# 1-Lists

In [2]:
#repetitive stuff

#comprehention 
a = [np.sqrt(i) for i in range(8)]
print(a)
b = a[:] #it's the abuse of alicing =)
c = [j**2 for j in a]
print(c)
print(np.ceil(c))
print(np.round(c))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907]
[0.0, 1.0, 2.0000000000000004, 2.9999999999999996, 4.0, 5.000000000000001, 5.999999999999999, 7.000000000000001]
[0. 1. 3. 3. 4. 6. 6. 8.]
[0. 1. 2. 3. 4. 5. 6. 7.]

In [3]:
#slicing
l = [i for i in range(17)]
print(l)
lm = l[0:15:2]
print(lm)
lmm = l[15:0:-2]
print(lmm)


#I beleive now you must've got it right know(i'm not sure about grammer here!)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[0, 2, 4, 6, 8, 10, 12, 14]
[15, 13, 11, 9, 7, 5, 3, 1]

# 2-Tuples

In [4]:
t = (1, 'alor', 6)
print(t)

(1, 'alor', 6)

In [5]:
tu = 1,4,'hi'
print(tu)
# note: parentheses are optional in python, now ypu get sth like "a, b = f(blah blah)" =))

(1, 4, 'hi')

In [6]:
# slicing, indexing, if   in statement are mainly like what we had in the list

In [7]:
i1, i2, i3 = ('q', 'u', 'p')
print(i1)

q

In [8]:
#Wow
i1, *i2, i3 = ('q', 'u','k','r', 'p')
print(i2)
i1, i2, *i3 = ('q', 'u','k','r', 'p')
print(i3)

['u', 'k', 'r']
['k', 'r', 'p']

In [9]:
import sys
print(sys.getsizeof(i3))
print(sys.getsizeof(i1))
#I beleive know you get what's sys for=)

120
50

# 3-Dictionaries

In [16]:
# unordered and mutable 
# cause it's unordered, there's no indexing 
d = {'key':'value', 'h':'j', 'h':'g'}
print(d)
print(d['h'])
print(d.items())
print(type(d.items()))
print(d.keys())
print(type(d.keys()))

{'key': 'value', 'h': 'g'}
g
dict_items([('key', 'value'), ('h', 'g')])
<class 'dict_items'>
dict_keys(['key', 'h'])
<class 'dict_keys'>

In [18]:
# keys must be hashable variables(for instance, tuples could but lists couldn't)
di = {(1,2): 'w', 3:6, 'rt':'er', 'tr':[1,2,3]}
print (di)

{(1, 2): 'w', 3: 6, 'rt': 'er', 'tr': [1, 2, 3]}

# 4-Sets

In [19]:
#unordered, mutable, no duplicate
# just like sets in mathematics
s = {1, 2, 'r'}
print(s)

{'r', 1, 2}

In [21]:
se = set('alor on dance')
print(se)

{'n', 'e', 'a', ' ', 'c', 'r', 'o', 'd', 'l'}

In [22]:
print(s.union(se))
print(s.intersection(se))

{1, 2, 'n', 'e', 'a', ' ', 'c', 'r', 'o', 'd', 'l'}
{'r'}

In [24]:
print(s.issubset({1,2}))
print(s.issuperset({1,2}))
#frozenset -> immutable

False
True

# 5-Strings